/* container for the all the page */
.container {
  height: 100%;
  background: #f2f2f2 0% 0% no-repeat padding-box;
}
/* for the  first nav bar */
.nav1 {
  left: 0px;
  width: 100%;
  height: 42px;
  background: #ffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
/* for sign in and register */
.main1 {
  position: absolute;
  right: 0px;
  padding-right: 20px;
  margin-top: 9px;
}
/* for register  */
.txt1 {
  font: normal normal normal 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  font-size: 14px;
}
/* for sign in txt */
.txt2 {
  margin-right: 20px;
  font: normal normal normal 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  font-size: 14px;
}
.div3 {
  padding-top: 50px;
}
.body {
  height: 600px;
}
/* for verified cercle */
.verif {
  width: 33px;
  height: 33px;
  left: 0;
  margin-left: 15px;
  margin-top: -15px;
  position: absolute;
  background: #a88c6a 0% 0% no-repeat padding-box;
  border: 3px solid #ffffff;
  opacity: 1;
  border-radius: 50%;
}
/* for verified icon */
.facheck {
  color: white;
  width: 20px;
  margin-left: 3px;
  margin-top: 5px;
  position: absolute;
}

/* for the first tab */
.tab1 {
  position: relative;
  width: 28%;
  height: 150px;
  margin: 132px auto;
  border-spacing: 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  opacity: 1;
}
/* td of table */
.td {
  padding-left: 20px;
  border-left: 1px solid #707070;
  text-align: left;
  width: 50%;
}
/* sec td of the table */
.td2 {
  padding-left: 20px;
  text-align: left;
  width: 50%;
}
/* icon user Register */
.iconuser {
  width: 27px;
  height: 27px;
  margin-top: 10px;
}
/* txt Register */
.txt4 {
  text-align: left;
  font: normal normal bold 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  margin-top: 7px;
}
/* txt under register */
.txt5 {
  text-align: left;
  margin-top: -15px;
  font: normal normal 300 11px/15px Segoe UI;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}
/* div of the both input field */
.inputfield {
  position: relative;
  margin: -122px auto;
  width: 28%;
  height: 150px;
}
/* input fields */
.input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 8px;
  opacity: 1;
  height: 50px;
  width: 100%;
  padding-left: 15px;
  margin-bottom: 15px;
  text-align: left;
  font: normal normal normal 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #222222;
  font-size: 15px;
  font-weight: 600;
}
/* row for the input */
.row {
  display: flex;
}
/* input 2 */
.input1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 8px;
  opacity: 1;
  flex: 1;
  height: 50px;
  width: 48.5%;
  padding-left: 15px;
  margin-bottom: 15px;
  text-align: left;
  font: normal normal normal 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #222222;
  font-size: 15px;
  font-weight: 600;
}
/* input 3 */
.input2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 8px;
  opacity: 1;
  margin-left: 3%;
  height: 50px;
  width: 48.5%;
  padding-left: 15px;
  margin-bottom: 15px;
  text-align: left;
  font: normal normal normal 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #222222;
  font-size: 15px;
  font-weight: 600;
}

/* btn login (submit) */
.btnlogin {
  position: absolute;
  margin-top: -10px;
  right: 35%;
  width: 30%;
  height: 47px;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
}
/* txt submit */
.txt6 {
  margin-top: 10px;
  text-align: center;
  font: normal normal normal 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
/* for responsive screen */
@media only screen and (max-width: 1000px) {
  .tab1 {
    width: 60%;
  }
  .inputfield {
    width: 60%;
  }
}
